<svg viewBox="0 -490 1210 1210">
  <polyline fill="none" points="965.2576,70.072696 934.7668,70.072696 934.7668,91.006444 " stroke="#BBBBBC"
            stroke-miterlimit="10"
            stroke-width=""/>
  <polyline fill="none" points="934.5856,91.006444 989.0188,91.006444 989.0188,1.316008 934.7668,1.316008 "
            stroke="#BBBBBC" stroke-miterlimit="10"
            stroke-width=""/>
  <polyline fill="none" points="934.7668,1.316008 934.7668,22.337668 965.2576,22.337668 " stroke="#BBBBBC"
            stroke-miterlimit="10"
            stroke-width=""/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="1109.3307012" x2="1076.2228512" y1="75.7042551"
        y2="70.039917"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="67.816" y2="67.816"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="63.396" y2="63.396"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="58.744" y2="58.744"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="54.547" y2="54.547"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="50.125" y2="50.125"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="45.7" y2="45.7"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="41.278" y2="41.278"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="36.626" y2="36.626"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="32.43" y2="32.43"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="28.006" y2="28.006"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="23.581" y2="23.581"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="19.159" y2="19.159"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="246.228" x2="269.875" y1="52.736" y2="52.736"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="246.228" x2="246.228" y1="67.816" y2="14.164"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="268.263" y1="52.736" y2="52.736"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="269.763" y1="48.311" y2="48.311"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="269.763" y1="43.889" y2="43.889"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="269.763" y1="39.237" y2="39.237"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="269.763" y1="35.042" y2="35.042"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="269.763" y1="30.618" y2="30.618"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="269.763" y1="26.192" y2="26.192"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="269.763" y1="21.77" y2="21.77"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="269.763" y1="21.77" y2="21.77"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="269.763" y1="17.348" y2="17.348"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="223.875" x2="269.763" y1="1.52" y2="1.52"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.2576" x2="965.2576" y1="70.072696" y2="22.337668"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="942.6832" x2="942.6832" y1="91.093168" y2="70.072696"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="950.7532" x2="950.7532" y1="91.006444" y2="70.072696"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="958.426" x2="958.426" y1="91.006444" y2="70.072696"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.2576" x2="965.2576" y1="70.072696" y2="91.006444"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.2576" x2="988.6228" y1="70.072696" y2="70.072696"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.6548" x2="988.6228" y1="64.729072" y2="64.729072"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.6548" x2="988.6228" y1="58.597804" y2="58.597804"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.6548" x2="989.0188" y1="52.467724" y2="52.467724"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.2576" x2="989.0188" y1="46.205776" y2="46.205776"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.2576" x2="989.0188" y1="40.205188" y2="40.205188"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="989.0188" x2="965.2576" y1="34.07392" y2="34.07392"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.2576" x2="989.0188" y1="27.94384" y2="27.94384"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.2576" x2="988.6228" y1="22.337668" y2="22.337668"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.2576" x2="965.2576" y1="22.337668" y2="1.23166"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="958.426" x2="958.426" y1="22.337668" y2="1.23166"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="950.7532" x2="950.7532" y1="22.337668" y2="1.23166"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="942.586" x2="942.586" y1="1.316008" y2="22.337668"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="762" x2="935" y1="1" y2="1"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="1.2" x2="1.2" y1="87" y2="130.5855"/>
  <circle cx="1091" cy="85" fill="#BCBCBC" id="13" r="8" stroke="null"/>
  <rect fill="#BCBCBC" height="92.178" id="87" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="0" y="0"/>

  <text fill="#FFFFFF" id="87t" text-anchor="middle" x="22.446" y="46.089">113</text>
  <rect fill="#BCBCBC" height="92.178" id="88" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="0"
        y="130.5855"/>

  <text fill="#FFFFFF" id="88t" text-anchor="middle" x="67.338" y="176.6745">112</text>
  <rect fill="#BCBCBC" height="92.178" id="89" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="89.784" y="0"/>

  <text fill="#FFFFFF" id="89t" text-anchor="middle" x="112.23" y="46.089">115</text>
  <rect fill="#BCBCBC" height="92.178" id="90" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="134.676"
        y="0"/>

  <text fill="#FFFFFF" id="90t" text-anchor="middle" x="157.122" y="46.089">WC</text>
  <rect fill="#BCBCBC" height="92.178" id="91" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="179.568"
        y="0"/>

  <text fill="#FFFFFF" id="91t" text-anchor="middle" x="202.014" y="46.089">WC</text>
  <rect fill="#BCBCBC" height="92.178" id="92" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="134.676"
        y="130.5855"/>

  <text fill="#FFFFFF" id="92t" text-anchor="middle" x="202.014" y="176.6745">111</text>
  <rect fill="#BCBCBC" height="92.178" id="93" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="269.352"
        y="0"/>

  <text fill="#FFFFFF" id="93t" text-anchor="middle" x="336.69" y="46.089">119</text>
  <rect fill="#BCBCBC" height="92.178" id="94" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="269.352"
        y="130.5855"/>

  <text fill="#FFFFFF" id="94t" text-anchor="middle" x="336.69" y="176.6745">110</text>
  <rect fill="#BCBCBC" height="92.178" id="95" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="404.028"
        y="130.5855"/>

  <text fill="#FFFFFF" id="95t" text-anchor="middle" x="471.366" y="176.6745">109</text>
  <rect fill="#BCBCBC" height="92.178" id="96" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="404.028"
        y="0"/>

  <text fill="#FFFFFF" id="96t" text-anchor="middle" x="426.474" y="46.089">120</text>
  <rect fill="#BCBCBC" height="92.178" id="97" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="448.92"
        y="0"/>

  <text fill="#FFFFFF" id="97t" text-anchor="middle" x="516.258" y="46.089">121</text>
  <rect fill="#BCBCBC" height="92.178" id="98" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="583.596"
        y="0"/>

  <text fill="#FFFFFF" id="98t" text-anchor="middle" x="606.042" y="46.089">122</text>
  <rect fill="#BCBCBC" height="92.178" id="99" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="628.488"
        y="0"/>

  <text fill="#FFFFFF" id="99t" text-anchor="middle" x="650.934" y="46.089">123</text>
  <rect fill="#BCBCBC" height="92.178" id="100" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="673.38"
        y="0"/>

  <text fill="#FFFFFF" id="100t" text-anchor="middle" x="695.826" y="46.089">124</text>
  <rect fill="#BCBCBC" height="92.178" id="101" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="718.272"
        y="0"/>

  <text fill="#FFFFFF" id="101t" text-anchor="middle" x="740.718" y="46.089">125</text>
  <rect fill="#BCBCBC" height="92.178" id="102" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="538.704"
        y="130.5839637"/>

  <text fill="#FFFFFF" id="102t" text-anchor="middle" x="606.042" y="176.6729637">Pokój nauczycielski</text>
  <rect fill="#BCBCBC" height="92.178" id="103" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="673.38"
        y="130.5839637"/>

  <text fill="#FFFFFF" id="103t" text-anchor="middle" x="740.718" y="176.6729637">107</text>
  <rect fill="#BCBCBC" height="92.178" id="104" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="808.056"
        y="130.5824274"/>

  <text fill="#FFFFFF" id="104t" text-anchor="middle" x="875.394" y="176.6714274">106</text>
  <rect fill="#BCBCBC" height="92.178" id="105" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="942.732"
        y="130.5824274"/>

  <text fill="#FFFFFF" id="105t" text-anchor="middle" x="1010.07" y="176.6714274">105</text>
  <rect fill="#BCBCBC" height="92.178" id="106" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="1077.408"
        y="130.5808911"/>

  <text fill="#FFFFFF" id="106t" text-anchor="middle" x="1144.746" y="176.6698911">104</text>
  <rect fill="#BCBCBC" height="92.178" id="107" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="1032.516"
        y="-0.0015363"/>

  <text fill="#FFFFFF" id="107t" text-anchor="middle" x="1054.962" y="46.0874637">WC</text>
  <rect fill="#BCBCBC" height="92.178" id="108" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="987.624"
        y="0"/>

  <text fill="#FFFFFF" id="108t" text-anchor="middle" x="1010.07" y="46.089">WC</text>
  <rect fill="#BCBCBC" height="92.178" id="152" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="44.892"
        y="0"/>

  <text fill="#FFFFFF" id="152t" text-anchor="middle" x="67.338" y="46.089">114</text>
  <polygon fill="#BCBCBC" id="153"
           points="1107.8103588,74.3369481 1107.8103588,130.5824274 1212.084,130.5839637 1212.084,92.1795363 "
           stroke="#FFFFFF" stroke-miterlimit="10"
           stroke-width=""/>

  <text fill="#FFFFFF" id="153t" text-anchor="middle" x="1160" y="110">104a</text>
  <rect fill="#BCBCBC" height="92.178" id="180" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="763.254"
        y="0"/>

  <text fill="#FFFFFF" id="180t" text-anchor="middle" x="785.61" y="46.089">126</text>
</svg>
