<svg viewBox="-8 -28 600 565">
  <polyline fill="none" points="405,135.304 405,405.5 180,405.5 180,133 317,133 317,1.582 405,1.582 405,135.304 "
            stroke="#BCBCBC" stroke-miterlimit="10"
            stroke-width=""/>
  <polyline fill="none" points="157.5,479.751 157.5,530.126 149.749,517.396 157.5,530.126 165.25,517.396 "
            stroke="#BCBCBC" stroke-miterlimit="10"
            stroke-width=""/>
  <polyline fill="none" points="361.04,62.625 361.04,12.249 368.791,24.979 361.04,12.249 353.29,24.979 "
            stroke="#BCBCBC" stroke-miterlimit="10"
            stroke-width=""/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="136.16" x2="180.14" y1="405.2" y2="405.2"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="136.16" x2="136.16" y1="405.2" y2="315.71"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="158.78" x2="180.15" y1="400.72" y2="400.72"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="158.78" x2="180.15" y1="396.23" y2="396.23"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="158.78" x2="180.15" y1="391.75" y2="391.75"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="158.78" x2="180.15" y1="387.26" y2="387.26"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="158.78" x2="180.15" y1="382.85" y2="382.85"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="158.78" x2="180.15" y1="378.37" y2="378.37"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="158.78" x2="180.15" y1="373.88" y2="373.88"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="158.78" x2="180.15" y1="369.4" y2="369.4"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="158.78" x2="180.15" y1="364.91" y2="364.91"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="158.78" x2="180.15" y1="360.43" y2="360.43"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="158.78" x2="180.15" y1="355.97" y2="355.97"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="158.78" x2="180.15" y1="351.49" y2="351.49"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="158.78" x2="180.15" y1="347" y2="347"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="158.78" x2="180.15" y1="342.51" y2="342.51"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="136.16" x2="156.05" y1="400.72" y2="400.72"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="136.16" x2="156.05" y1="396.23" y2="396.23"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="136.16" x2="156.05" y1="391.75" y2="391.75"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="136.16" x2="156.05" y1="387.26" y2="387.26"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="136.16" x2="156.05" y1="382.85" y2="382.85"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="136.16" x2="156.05" y1="378.37" y2="378.37"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="136.16" x2="156.05" y1="373.88" y2="373.88"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="136.16" x2="156.05" y1="369.4" y2="369.4"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="136.16" x2="156.05" y1="364.91" y2="364.91"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="136.16" x2="156.05" y1="360.43" y2="360.43"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="136.16" x2="156.05" y1="355.97" y2="355.97"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="136.16" x2="156.05" y1="351.49" y2="351.49"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="136.16" x2="156.05" y1="347" y2="347"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="136.16" x2="156.05" y1="342.51" y2="342.51"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="158.78" x2="158.78" y1="342.51" y2="405.2"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="156.05" x2="156.05" y1="342.51" y2="405.2"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="156.05" x2="158.78" y1="342.51" y2="342.51"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="449" x2="405.03" y1="136.43" y2="136.43"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="449" x2="449" y1="136.43" y2="225.92"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="426.38" x2="405.01" y1="140.92" y2="140.92"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="426.38" x2="405.01" y1="145.4" y2="145.4"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="426.38" x2="405.01" y1="149.89" y2="149.89"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="426.38" x2="405.01" y1="154.37" y2="154.37"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="426.38" x2="405.01" y1="158.78" y2="158.78"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="426.38" x2="405.01" y1="163.27" y2="163.27"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="426.38" x2="405.01" y1="167.75" y2="167.75"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="426.38" x2="405.01" y1="172.24" y2="172.24"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="426.38" x2="405.01" y1="176.72" y2="176.72"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="426.38" x2="405.02" y1="181.21" y2="181.21"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="426.38" x2="405.01" y1="185.66" y2="185.66"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="426.38" x2="405.01" y1="190.15" y2="190.15"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="426.38" x2="405.02" y1="194.63" y2="194.63"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="426.38" x2="405.01" y1="199.12" y2="199.12"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="449" x2="429.11" y1="140.92" y2="140.92"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="449" x2="429.11" y1="145.4" y2="145.4"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="449" x2="429.11" y1="149.89" y2="149.89"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="449" x2="429.11" y1="154.37" y2="154.37"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="449" x2="429.11" y1="158.78" y2="158.78"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="449" x2="429.11" y1="163.27" y2="163.27"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="449" x2="429.11" y1="167.75" y2="167.75"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="449" x2="429.11" y1="172.24" y2="172.24"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="449" x2="429.11" y1="176.72" y2="176.72"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="449" x2="429.12" y1="181.21" y2="181.21"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="449" x2="429.11" y1="185.66" y2="185.66"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="449" x2="429.11" y1="190.15" y2="190.15"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="449" x2="429.12" y1="194.63" y2="194.63"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="449" x2="429.11" y1="199.12" y2="199.12"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="426.38" x2="426.38" y1="199.12" y2="136.43"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="429.11" x2="429.11" y1="199.12" y2="136.43"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="429.11" x2="426.38" y1="199.12" y2="199.12"/>
  <rect fill="#BCBCBC" height="90" id="109" stroke="#FFFFFF" stroke-miterlimit="10" width="135" x="450" y="450"/>

  <text fill="#FFFFFF" id="109t" text-anchor="middle" x="517" y="495">W07</text>
  <rect fill="#BCBCBC" height="90" id="110" stroke="#FFFFFF" stroke-miterlimit="10" width="135" x="314.999" y="450"/>

  <text fill="#FFFFFF" id="110t" text-anchor="middle" x="382" y="495">W08</text>
  <rect fill="#BCBCBC" height="90" id="111" stroke="#FFFFFF" stroke-miterlimit="10" width="45" x="270" y="450"/>

  <text fill="#FFFFFF" id="111t" text-anchor="middle" x="293" y="495">W09</text>
  <rect fill="#BCBCBC" height="90" id="112" stroke="#FFFFFF" stroke-miterlimit="10" width="45" x="90" y="450"/>

  <text fill="#FFFFFF" id="112t" text-anchor="middle" x="113" y="495">W11</text>
  <rect fill="#BCBCBC" height="224.999" id="113" stroke="#FFFFFF" stroke-miterlimit="10" width="90" x="0" y="315.001"/>

  <text fill="#FFFFFF" id="113t" text-anchor="middle" x="45" y="428">W12</text>
  <rect fill="#BCBCBC" height="135.844" id="114" stroke="#FFFFFF" stroke-miterlimit="10" width="90" x="0" y="179.157"/>

  <text fill="#FFFFFF" id="114t" text-anchor="middle" x="45" y="247">W14</text>
  <rect fill="#BCBCBC" height="135" id="115" stroke="#FFFFFF" stroke-miterlimit="10" width="66.656" x="0" y="0"/>

  <text fill="#FFFFFF" id="115t" text-anchor="middle" x="33" y="67">15i</text>
  <rect fill="#BCBCBC" height="135" id="116" stroke="#FFFFFF" stroke-miterlimit="10" width="68.062" x="66.656" y="0"/>

  <text fill="#FFFFFF" id="116t" text-anchor="middle" x="101" y="67">16i</text>
  <rect fill="#BCBCBC" height="90" id="117" stroke="#FFFFFF" stroke-miterlimit="10" width="183" x="135" y="0"/>

  <text fill="#FFFFFF" id="117t" text-anchor="middle" x="226" y="45">W17</text>
  <rect fill="#BCBCBC" height="136" id="118" stroke="#FFFFFF" stroke-miterlimit="10" width="45.844" x="135" y="180"/>

  <text fill="#FFFFFF" id="118t" text-anchor="middle" x="158" y="247">W13</text>
  <rect fill="#BCBCBC" height="90" id="119" stroke="#FFFFFF" stroke-miterlimit="10" width="91" x="405" y="0"/>

  <text fill="#FFFFFF" id="119t" text-anchor="middle" x="451" y="45">W01</text>
  <rect fill="#BCBCBC" height="135" id="120" stroke="#FFFFFF" stroke-miterlimit="10" width="89.157" x="496.413" y="0"/>

  <text fill="#FFFFFF" id="120t" text-anchor="middle" x="541" y="67.5">W02</text>
  <rect fill="#BCBCBC" height="43.651" id="121" stroke="#FFFFFF" stroke-miterlimit="10" width="139" x="179" y="90"/>

  <text fill="#FFFFFF" id="121t" text-anchor="middle" x="249" y="112">PITE</text>
  <rect fill="#BCBCBC" height="135" id="122" stroke="#FFFFFF" stroke-miterlimit="10" width="45" x="405" y="223.875"/>

  <text fill="#FFFFFF" id="122t" text-anchor="middle" x="429" y="291">W04</text>
  <rect fill="#BCBCBC" height="47" id="123" stroke="#FFFFFF" stroke-miterlimit="10" width="44.888" x="405" y="358.875"/>

  <text fill="#FFFFFF" id="123t" text-anchor="middle" x="429" y="382">WC</text>
  <rect fill="#BCBCBC" height="90" id="124" stroke="#FFFFFF" stroke-miterlimit="10" width="90" x="180" y="450"/>

  <text fill="#FFFFFF" id="124t" text-anchor="middle" x="225" y="495">W10</text>
  <rect fill="#BCBCBC" height="104.94" id="125" stroke="#FFFFFF" stroke-miterlimit="10" width="88.682" x="496.318"
        y="135"/>

  <text fill="#FFFFFF" id="125t" text-anchor="middle" x="541" y="187.47">W03</text>
  <rect fill="#BCBCBC" height="104.94" id="126" stroke="#FFFFFF" stroke-miterlimit="10" width="88.682" x="496.318"
        y="344.88"/>

  <text fill="#FFFFFF" id="126t" text-anchor="middle" x="541" y="397.35">W06</text>
  <rect fill="#BCBCBC" height="45" id="154" stroke="#FFFFFF" stroke-miterlimit="10" width="90" x="0" y="135"/>

  <text fill="#FFFFFF" id="154t" text-anchor="middle" x="45" y="157"></text>
  <rect fill="#BCBCBC" height="104.94" id="156" stroke="#FFFFFF" stroke-miterlimit="10" width="88.682" x="496.318"
        y="239.94"/>

  <text fill="#FFFFFF" id="156t" text-anchor="middle" x="541" y="292.41">W05</text>

  <text fill="#757576" id="211t" text-anchor="middle" x="157" y="475"></text>
</svg>
