<div id="details-wrapper">
  <div (click)="closeWindow()" id="close-field">
    <i (click)="closeWindow()"
       class="material-icons"
       id="close-icon"
    >close</i>
  </div>
  <div id="img-wrapper">
    <img [src]="currentEntry.imgUrl" alt="description-img" id="main-img"/>
  </div>
  <div id="title-wrapper">
    <p id="title-field">{{currentEntry.title}}</p>
  </div>
  <div id="desc-wrapper">
    <p id="desc-field">{{currentEntry.description}}</p>
  </div>
  <div (click)="onClick()" id="nav-button">
    <p (click)="onClick()"
       id="nav-text"></p>
    <mat-icon
      (click)="onClick()"
      class="material-icons"
      id="nav-icon">
    </mat-icon>
  </div>
</div>
