.slide-in {
  animation-name: slide-in;
  animation-duration: 0.75s;
}

@keyframes slide-in {
  from {
    left: -366px;
  }
  to {
    left: 8px;
  }
}

.slide-out {
  animation-name: slide-out;
  animation-duration: 0.75s;
}

@keyframes slide-out {
  from {
    left: 8px;
  }
  to {
    left: -366px;
  }
}

#details-wrapper {
  width: 358px;
  height: 600px;
  background-color: #eeeeee;
  position: absolute;
  top: 64px;
  left: -366px;
  border-radius: 8px;
  border: 1px rgba(0, 0, 0, 0.14) solid;
  z-index: 100;
}

#close-field {
  width: 40px;
  height: 40px;
  position: relative;
  left: 318px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #eeeeee;
  z-index: 100;
  user-select: none;
}

#close-icon {
  font-size: 32px;
  position: relative;
  top: 4px;
  left: 4px;
  cursor: pointer;
}

#main-img {
  width: 358px;
  height: 358px;
  position: relative;
  top: -40px;
  background-color: #989898;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#title-wrapper {
  width: 358px;
  height: 60px;
  position: relative;
  left: 8px;
  top: -40px;
  user-select: none;
}

#title-field {
  height: 60px;
  font-size: 30px;
  margin: 0;
  padding-top: 20px;
}

#desc-wrapper {
  height: 142px;
  position: relative;
  left: 8px;
  top: -40px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  user-select: none;
}

#desc-field {
  font-size: 20px;
}

#nav-button {
  width: 360px;
  height: 50px;
  background-color: rgb(57, 135, 197);
  position: relative;
  left: -1px;
  top: -36px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
}

#nav-text {
  font-size: 25px;
  position: relative;
  top: 13px;
  left: 109px;
  user-select: none;
  cursor: pointer;
}

#nav-icon {
  font-size: 40px;
  position: relative;
  top: -27px;
  left: 315px;
  user-select: none;
  cursor: pointer;
}
