#frame {
  width: 95vw;
  height: 95vh;
  position: relative;
  left: 2vw;
  border: 5px black dotted;
  overflow: hidden;
}

#object {
  width: 500px;
  height: 500px;
  border: 3px solid red;
  position: relative;
  left: 100px;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
