.frame {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  background-color: #FFFFFF;
}

.object {
  width: 100vh;
  height: calc(100vh - 6px);
  position: relative;
  left: calc((100vw - 100vh) / 2);

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
