<svg viewBox="70 0 1080 250">
  <polygon fill="#BCBCBC" id="7"
           points="1107.8103588,74.3369481 1107.8103588,130.5824274 1212.084,130.5839637 1212.084,92.1795363 "
           stroke="#FFFFFF" stroke-miterlimit="10"
           stroke-width=""/>

  <text fill="#FFFFFF" id="7t" text-anchor="middle" x="1160" y="110">204a</text>
  <polyline fill="none" points="965.2576,70.072696 934.7668,70.072696 934.7668,91.006444 " stroke="#BBBBBC"
            stroke-miterlimit="10"
            stroke-width=""/>
  <polyline fill="none" points="934.5856,91.006444 989.0188,91.006444 989.0188,1.316008 934.7668,1.316008 "
            stroke="#BBBBBC" stroke-miterlimit="10"
            stroke-width=""/>
  <polyline fill="none" points="934.7668,1.316008 934.7668,22.337668 965.2576,22.337668 " stroke="#BBBBBC"
            stroke-miterlimit="10"
            stroke-width=""/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="1109.3307012" x2="1076.2228512" y1="75.7042551"
        y2="70.039917"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="67.816" y2="67.816"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="63.396" y2="63.396"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="58.744" y2="58.744"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="54.547" y2="54.547"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="50.125" y2="50.125"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="45.7" y2="45.7"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="41.278" y2="41.278"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="36.626" y2="36.626"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="32.43" y2="32.43"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="28.006" y2="28.006"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="23.581" y2="23.581"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="224.068" x2="246.103" y1="19.159" y2="19.159"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="246.228" x2="269.875" y1="52.736" y2="52.736"/>
  <line fill="none" stroke="#BCBCBC" stroke-miterlimit="10" x1="246.228" x2="246.228" y1="67.816" y2="14.164"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="268.263" y1="52.736" y2="52.736"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="269.763" y1="48.311" y2="48.311"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="269.763" y1="43.889" y2="43.889"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="269.763" y1="39.237" y2="39.237"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="269.763" y1="35.042" y2="35.042"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="269.763" y1="30.618" y2="30.618"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="269.763" y1="26.192" y2="26.192"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="269.763" y1="21.77" y2="21.77"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="269.763" y1="21.77" y2="21.77"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="246.228" x2="269.763" y1="17.348" y2="17.348"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="223.875" x2="269.763" y1="1.52" y2="1.52"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.2576" x2="965.2576" y1="70.072696" y2="22.337668"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="942.6832" x2="942.6832" y1="91.093168" y2="70.072696"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="950.7532" x2="950.7532" y1="91.006444" y2="70.072696"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="958.426" x2="958.426" y1="91.006444" y2="70.072696"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.2576" x2="965.2576" y1="70.072696" y2="91.006444"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.2576" x2="988.6228" y1="70.072696" y2="70.072696"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.6548" x2="988.6228" y1="64.729072" y2="64.729072"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.6548" x2="988.6228" y1="58.597804" y2="58.597804"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.6548" x2="989.0188" y1="52.467724" y2="52.467724"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.2576" x2="989.0188" y1="46.205776" y2="46.205776"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.2576" x2="989.0188" y1="40.205188" y2="40.205188"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="989.0188" x2="965.2576" y1="34.07392" y2="34.07392"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.2576" x2="989.0188" y1="27.94384" y2="27.94384"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.2576" x2="988.6228" y1="22.337668" y2="22.337668"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="965.2576" x2="965.2576" y1="22.337668" y2="1.23166"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="958.426" x2="958.426" y1="22.337668" y2="1.23166"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="950.7532" x2="950.7532" y1="22.337668" y2="1.23166"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="942.586" x2="942.586" y1="1.316008" y2="22.337668"/>
  <line fill="none" stroke="#BBBBBC" stroke-miterlimit="10" x1="762" x2="935" y1="1" y2="1"/>
  <rect fill="#BCBCBC" height="92.178" id="65" stroke="#FFFFFF" stroke-miterlimit="10" width="134.668" x="0" y="0"/>

  <text fill="#FFFFFF" id="65t" text-anchor="middle" x="67.338" y="46.089">215</text>
  <rect fill="#BCBCBC" height="92.178" id="66" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="0"
        y="130.5855"/>

  <text fill="#FFFFFF" id="66t" text-anchor="middle" x="67.338" y="176.6745">214</text>
  <rect fill="#BCBCBC" height="38" id="67" stroke="#FFFFFF" stroke-miterlimit="10" width="100" x="0" y="92.178"/>

  <text fill="#FFFFFF" id="67t" text-anchor="middle" x="52" y="115">214a</text>
  <rect fill="#BCBCBC" height="92.178" id="68" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="134.676"
        y="0"/>

  <text fill="#FFFFFF" id="68t" text-anchor="middle" x="157.122" y="46.089">WC</text>
  <rect fill="#BCBCBC" height="92.178" id="69" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="179.568"
        y="0"/>

  <text fill="#FFFFFF" id="69t" text-anchor="middle" x="202.014" y="46.089">WC</text>
  <rect fill="#BCBCBC" height="92.178" id="70" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="134.676"
        y="130.5855"/>

  <text fill="#FFFFFF" id="70t" text-anchor="middle" x="202.014" y="176.6745">213</text>
  <rect fill="#BCBCBC" height="92.178" id="71" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="269.352"
        y="0"/>

  <text fill="#FFFFFF" id="71t" text-anchor="middle" x="336.69" y="46.089">219</text>
  <rect fill="#BCBCBC" height="92.178" id="72" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="269.352"
        y="130.5855"/>

  <text fill="#FFFFFF" id="72t" text-anchor="middle" x="336.69" y="176.6745">212</text>
  <rect fill="#BCBCBC" height="92.178" id="73" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="404.028"
        y="130.5855"/>

  <text fill="#FFFFFF" id="73t" text-anchor="middle" x="471.366" y="176.6745">211</text>
  <rect fill="#BCBCBC" height="92.178" id="74" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="404.028"
        y="0"/>

  <text fill="#FFFFFF" id="74t" text-anchor="middle" x="426.474" y="46.089">220</text>
  <rect fill="#BCBCBC" height="92.178" id="75" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="448.92"
        y="0"/>

  <text fill="#FFFFFF" id="75t" text-anchor="middle" x="516.258" y="46.089">221</text>
  <rect fill="#BCBCBC" height="92.178" id="76" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="583.596"
        y="0"/>

  <text fill="#FFFFFF" id="76t" text-anchor="middle" x="650.934" y="46.089">222</text>
  <rect fill="#BCBCBC" height="92.178" id="79" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="718.272"
        y="0"/>

  <text fill="#FFFFFF" id="79t" text-anchor="middle" x="740.718" y="46.089">223</text>
  <rect fill="#BCBCBC" height="92.178" id="80" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="583.596"
        y="130.5839637"/>

  <text fill="#FFFFFF" id="80t" text-anchor="middle" x="650.934" y="176.6729637">209</text>
  <rect fill="#BCBCBC" height="92.178" id="81" stroke="#FFFFFF" stroke-miterlimit="10" width="89.784" x="718.272"
        y="130.5839637"/>

  <text fill="#FFFFFF" id="81t" text-anchor="middle" x="763.164" y="176.6729637">207</text>
  <rect fill="#BCBCBC" height="92.178" id="82" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="808.056"
        y="130.5824274"/>

  <text fill="#FFFFFF" id="82t" text-anchor="middle" x="875.394" y="176.6714274">206</text>
  <rect fill="#BCBCBC" height="92.178" id="83" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="942.732"
        y="130.5824274"/>

  <text fill="#FFFFFF" id="83t" text-anchor="middle" x="1010.07" y="176.6714274">205</text>
  <rect fill="#BCBCBC" height="92.178" id="84" stroke="#FFFFFF" stroke-miterlimit="10" width="134.676" x="1077.408"
        y="130.5808911"/>

  <text fill="#FFFFFF" id="84t" text-anchor="middle" x="1144.746" y="176.6698911">204</text>
  <rect fill="#BCBCBC" height="92.178" id="85" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="1032.516"
        y="-0.0015363"/>

  <text fill="#FFFFFF" id="85t" text-anchor="middle" x="1054.962" y="46.0874637">WC</text>
  <rect fill="#BCBCBC" height="92.178" id="86" stroke="#FFFFFF" stroke-miterlimit="10" width="44.892" x="987.624"
        y="0"/>

  <text fill="#FFFFFF" id="86t" text-anchor="middle" x="1010.07" y="46.089">WC</text>
  <rect fill="#BCBCBC" height="92.178" id="155" stroke="#FFFFFF" stroke-miterlimit="10" width="44" x="539" y="130.58"/>

  <text fill="#FFFFFF" id="155t" text-anchor="middle" x="560.446" y="176.6729637">210</text>
</svg>
