<div id="details-wrapper">
  <div (click)="closeWindow()" id="close-field">
    <i (click)="closeWindow()"
       class="material-icons"
       id="close-icon"
    >close</i>
  </div>
  <img [src]="imgUrl" alt="description-img" id="main-img"/>
  <div id="title-wrapper">
    <p id="title-field">{{title}}</p>
  </div>
  <div id="desc-wrapper">
    <p id="desc-field">{{description}}</p>
  </div>
  <div (click)="onClick()" id="nav-button">
    <p (click)="onClick()"
       id="nav-text"
    >Przejdź dalej</p>
    <i (click)="onClick()"
       class="material-icons"
       id="nav-icon"
    >arrow_forward</i>
  </div>
</div>
