html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.set-highlight {
  animation-name: set-highlight;
  animation-duration: 1s;
  fill: #39a00c;
}

@keyframes set-highlight {
  from {
    fill: #BCBCBC;
  }
  to {
    fill: #39a00c;
  }
}

.remove-highlight {
  animation-name: remove-highlight;
  animation-duration: 1s;
  fill: #BCBCBC;
}

@keyframes remove-highlight {
  from {
    fill: #39a00c;
  }
  to {
    fill: #BCBCBC;
  }
}
