html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.set-highlight {
  animation-name: set-highlight;
  animation-duration: 1s;
  fill: #39a00c;
}

@keyframes set-highlight {
  from {
    fill: #BCBCBC;
  }
  to {
    fill: #39a00c;
  }
}

.remove-highlight {
  animation-name: remove-highlight;
  animation-duration: 1s;
  fill: #BCBCBC;
}

@keyframes remove-highlight {
  from {
    fill: #39a00c;
  }
  to {
    fill: #BCBCBC;
  }
}

.level-button {
  width: 99px;
  height: 100px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  user-select: none;
  transition: all 50ms ease;
}

.level-button:hover {
  opacity: 90%;
  background-color: #f3f3f3;
}

.level-text {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  top: 41px;
}
